.header {
  position: absolute;
  left: $padding-left;
  width: calc(100% - $padding-left);
  top: $padding-top;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  padding-right: 116px;

  @media screen and ($media-tablet) {
    padding-right: 24px;
  }

  @media screen and ($media-mobile) {
    padding-right: 18px;
    padding-top: 21px;
  }

  &__contacts {
    align-items: flex-start;
    margin-left: auto;
    display: flex;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: right;
    gap: 16px;

    small {
      font-size: 22px;
      line-height: 32px;
      color: #ffffff;

      @media screen and ($media-mobile) {
        display: none;
      }
    }

    @media screen and ($media-mobile) {
      align-items: flex-end;
      gap: 0;
      flex-direction: column;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__menu {
    display: flex;
    margin-top: 128px;
    padding-left: 72px;
    gap: 49px;

    @media screen and ($media-tablet) {
      padding-left: 115px;
    }

    @media screen and ($media-mobile) {
      position: fixed;
      left: 100%;
      top: 0;
      background-color: #FFF;
      width: 100%;
      justify-content: center;
      height: 100vh;  
      margin: 0;
      z-index: 99;
      transition: $transition3;
      padding: 0;
      gap: 12px;

      &.is-active {
        left: 0;
        flex-direction: column;

        .header__close {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    &-item {
      transition: $transition3;
      font-size: 18px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      font-family: "Roboto", sans-serif;

      @media screen and ($media-mobile) {
        color: #000;
      }

      &:hover {
        opacity: .8;
      }

      &.is-active {
        color: $red-second;
      }
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a,
    a:visited {
      font-size: 16px;
      line-height: initial;
      color: $red-second;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      text-align: right;
      margin-top: 4px;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__close {
    display: none;
  }

  &__burger {
    display: none;

    @media screen and ($media-tablet) {
      display: block;
      margin-left: auto;
      margin-top: 56px;
      position: relative;
      z-index: 2;
    }
  }
}