.p-advantages {
  position: relative;
  background: rgb(242,242,242);

  &::before {
    position: absolute;
    left: 0;
    top: -64px;
    height: 65px;
    width: 100%;
    background:rgb(242,242,242);
    z-index: 3;
    clip-path: polygon(0 0, 100% 100%,0 100%);
    content: '';
  }
  &__container {
    padding: 50px 170px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: #868686;
      max-width: 560px;
      width: 100%;
      font-weight: 500;
    }
  }
  &__item {
    &-advantage {
      position: relative;
      padding-left: 15px;
      font-weight: 600;
      &::before {
        position: absolute;
        width: 6px;
        height: 1px;
        top: 10px;
        left: 0;
        background: rgb(204,23,30);
        content: '';
      }
    }
  }
}