.slogan {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -8px;
  top: 274px;
  gap: 65px;
  font-size: 10px;
  line-height: initial;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  transform: rotate(-90deg);

  &.second {
    left: -14px;
    right: initial;
    font-size: 12px;
    letter-spacing: 6px;
    line-height: initial;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    gap: 10px;
    top: 714px;
  }
}