.p-sidebar {
  position: fixed;

  left: 0;
  top: 0;
  z-index: 100;

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    pointer-events: none;
    transition: all 03s ease;
  }
  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  &__wrapper {
    position: relative;
    width: 320px;
    padding: 320px 16px 32px;
    background: #fff;
    height: 100vh;
    transition: all 0.3s ease;
    margin-left: -320px;

    @media (max-width: 768px) {
      &::before {
        position: absolute;
        height: 100%;
        width: 1px;
        left: 5px;
        top: 0;
        content: '';
        background: rgba(0,0,0, 0.3);
        z-index: 10;
      }
      &::after {
        position: absolute;
        width: calc(100% + 16px);
        height: 1px;
        left: -16px;
        top: 214px;
        content: '';
        background: rgba(0,0,0, 0.3);
        z-index: 10;
        transition: all 0.3s ease;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    &-item {
      color: #000;
      width: 100%;
      font-size: 22px;
      line-height: 26px;
      cursor: pointer;
    }
  }
  &__toggle {
    position: fixed;
    right: 12px;
    top: 102px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 101;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMyA2LjAwMTAxSDIxTTMgMTIuMDAxSDIxTTMgMTguMDAxSDIxIiBzdHJva2U9IiNGOEY4RjgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+) no-repeat center / contain;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      top: 170px;
    }

  }
  &__logo {
    position: fixed;
    left: 15px;
    z-index: 102;
    top: 256px;
    width: 64px;
    height: 64px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTG9nbyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjYiIGhlaWdodD0iNjYiIHZpZXdCb3g9IjAgMCA2NiA2NiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjY2MxNzFlOyAgICAgIH0gICAgICAuY2xzLTIgeyAgICAgICAgZm9udC1zaXplOiAxN3B4OyAgICAgICAgZmlsbDogI2ZmZjsgICAgICAgIGZvbnQtZmFtaWx5OiBNZXJyaXdlYXRoZXItQmxhY2tJdGFsaWMsIE1lcnJpd2VhdGhlcjsgICAgICB9ICAgIDwvc3R5bGU+ICA8L2RlZnM+ICA8cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSI2NiIgaGVpZ2h0PSI2NiIvPiAgPHRleHQgaWQ9IlBNIiBjbGFzcz0iY2xzLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyLjM0OSA0Mi40MDUpIHNjYWxlKDEuMzk4KSI+UE08L3RleHQ+PC9zdmc+) no-repeat center / contain;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      top: 150px;
      left: 0;
    }
  }
  &__active {
    .p-sidebar {
      &__overlay {
        pointer-events: all;
        background: rgba(0,0,0,0.5);
      }
      &__wrapper {
        margin-left: 0;
      }
      &__logo {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
      &__toggle {
        @media (max-width: 350px) {
          filter: brightness(0);
        }
      }
    }
  }
}
.p-header.hide-header {
  & + .p-sidebar {
    .p-sidebar {
      &__toggle {
        top: 18px;
      }
      &__logo {
        top: 59px;
      }
      &__wrapper {
        &::after {
          @media (max-width: 768px) {
            top: 123px;
          }
        }
      }
    }

  }
}