.p-main-banner {
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 170px;
  }
  &-contacts {
    width: 100%;
    display: flex;
    &__container {
      width: 100%;
    }
    &__row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__head {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 350px;
      h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 38px;
      }
      span {
        font-style: italic;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }
    }
    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 32px;
      max-width: 450px;

      &-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 18px;
        line-height: 20px;
        .p-contact-item {
          &__link {
            color: rgb(208,41,50);
            font-weight: 600;
          }
        }
      }
    }
  }
}