@import "pMainBannerForm";
@import "pMainBannerServices";
@import "pMainBannerContacts";
.p-main-banner {
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    content: '';
  }
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: red;
    clip-path: polygon(0% 100%, 100% 100%, 100% 75%, 88% 80%, 83% 83%, 79% 85%, 75% 86%, 70% 87%, 67% 88%, 65% 89%, 61% 89%, 58% 89%, 55% 88%, 50% 88%, 46% 88%, 42% 87%, 37% 86%, 31% 86%, 27% 85%, 22% 86%, 16% 87%, 11% 87%, 7% 84%, 4% 80%, 2% 77%, 0 72%);
    z-index: 2;
    content: '';
  }
  img {
    width: 100%;
    height: 100%;
  }
  &__welcome {
    height: 1200px;
  }
  &__container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}