.p-modal-help {
  &__container {
    max-width: 650px;
  }
  &-content {
    padding: 30px 0 0;
    &__title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 35px;
    }
    &__description {
      color: #868686;
    }
  }

  &__img {
    position: relative;
    height: 470px;
    z-index: 1;
    img {
      position: absolute;
      left: -24px;
      top: -24px;
      width: calc(100% + 48px);
      height: calc(100% + 24px);
      object-fit: cover;
    }
  }
  height: 100%;
}