@import "normalize";
@import "slider";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

body {
  margin-top: 40px;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  &.t-lock-body {
    overflow: hidden;
  }

  .grecaptcha-badge {
    z-index: 4;
  }

  .zsiq_floatmain,
  .zsiq_custommain {
    z-index: 103 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// Orders mixin
$max: 12;
$offset: 1;

@mixin orders($className, $styleName) {
  $i: 0;

  @while $i <=$max {
    #{$className + $i} {
      #{$styleName}: #{$i};
    }

    $i: $i+$offset;
  }
}

// Scroll style
::-webkit-scrollbar {
  width: 8px;
  height: 13px
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .2);
  border: 2px solid #040c1c;
  border-radius: 0
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .2)
}

::-webkit-scrollbar-track {
  background: #040c1c;
  border-radius: 0;
  box-shadow: inset -10px -10px 0 -30px #f0f0f0
}

@media only screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0
  }
}

.app {
  position: relative;
  min-height: 100vh;
  margin-left: 40px;

  @media (max-width: 768px) {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 40px;
    top: 0;
    content: '';
    background: rgba(255,255,255, 0.5);
    z-index: 10;

    @media (max-width: 768px) {
      left: 5px;
    }
  }
}
.p-icon {
  display: block;
  width: 16px;
  height: 16px;
}
.p-icon-instagram {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBjbGlwLXBhdGg9InVybCgjY2xpcDBfMjA4NjNfMTA2ODI2KSI+PHBhdGggZD0iTTE2LjIyNyAySDcuNzcyNDZDNi4yNDE0NiAyLjAwMDE1IDQuNzczMjEgMi42MDg0NCAzLjY5MDY4IDMuNjkxMDhDMi42MDgxNSA0Ljc3MzcxIDIgNi4yNDIwMiAyIDcuNzczMDJWMTYuMjI3QzEuOTk5OTMgMTYuOTg1MSAyLjE0OTE4IDE3LjczNTggMi40MzkyNCAxOC40MzYyQzIuNzI5MyAxOS4xMzY2IDMuMTU0NDkgMTkuNzczIDMuNjkwNTIgMjAuMzA5MUM0LjIyNjU1IDIwLjg0NTIgNC44NjI5MiAyMS4yNzA0IDUuNTYzMzEgMjEuNTYwNUM2LjI2MzY5IDIxLjg1MDcgNy4wMTQzNyAyMiA3Ljc3MjQ2IDIySDE2LjIyN0MxNy43NTgxIDIyIDE5LjIyNjUgMjEuMzkxOCAyMC4zMDkxIDIwLjMwOTFDMjEuMzkxOCAxOS4yMjY1IDIyIDE3Ljc1ODEgMjIgMTYuMjI3VjcuNzczMDJDMjIgNi4yNDE5MiAyMS4zOTE4IDQuNzczNTMgMjAuMzA5MSAzLjY5MDg4QzE5LjIyNjUgMi42MDgyMyAxNy43NTgxIDIgMTYuMjI3IDJaTTIwLjE1ODIgMTYuMzc2MUMyMC4xNTgyIDE2Ljg3OTQgMjAuMDU5IDE3LjM3NzcgMTkuODY2NCAxNy44NDI2QzE5LjY3MzggMTguMzA3NSAxOS4zOTE1IDE4LjczIDE5LjAzNTcgMTkuMDg1OEMxOC42Nzk4IDE5LjQ0MTYgMTguMjU3MyAxOS43MjM4IDE3Ljc5MjQgMTkuOTE2NEMxNy4zMjc0IDIwLjEwODkgMTYuODI5MSAyMC4yMDc5IDE2LjMyNTkgMjAuMjA3OUg3LjY3MzU4QzcuMTcwMzkgMjAuMjA3OSA2LjY3MjEzIDIwLjEwODggNi4yMDcyNCAxOS45MTYyQzUuNzQyMzUgMTkuNzIzNiA1LjMxOTk1IDE5LjQ0MTQgNC45NjQxNCAxOS4wODU2QzQuNjA4MzMgMTguNzI5OCA0LjMyNjA4IDE4LjMwNzQgNC4xMzM1MiAxNy44NDI1QzMuOTQwOTYgMTcuMzc3NiAzLjg0MTg1IDE2Ljg3OTMgMy44NDE4NSAxNi4zNzYxVjcuNzIzM0MzLjg0MTg1IDYuNzA3MDYgNC4yNDU1NSA1LjczMjQ1IDQuOTY0MTQgNS4wMTM4NkM1LjY4MjczIDQuMjk1MjcgNi42NTczNCAzLjg5MTU3IDcuNjczNTggMy44OTE1N0gxNi4zMjU5QzE2LjgyOTEgMy44OTE0OSAxNy4zMjc0IDMuOTkwNTUgMTcuNzkyNCA0LjE4MzA4QzE4LjI1NzMgNC4zNzU2MSAxOC42Nzk4IDQuNjU3ODQgMTkuMDM1NyA1LjAxMzY2QzE5LjM5MTUgNS4zNjk0OCAxOS42NzM4IDUuNzkxOTEgMTkuODY2NCA2LjI1NjgzQzIwLjA1OSA2LjcyMTc2IDIwLjE1ODIgNy4yMjAwNyAyMC4xNTgyIDcuNzIzM1YxNi4zNzYxWiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMTEuOTk5OSA2Ljg2MDM1QzEwLjk3MzUgNi44NjAyNCA5Ljk3MDAxIDcuMTY0NTIgOS4xMTY0OCA3LjczNDcyQzguMjYyOTUgOC4zMDQ5MSA3LjU5NzY3IDkuMTE1NDEgNy4yMDQ3OCAxMC4wNjM3QzYuODExODkgMTEuMDEyIDYuNzA5MDQgMTIuMDU1NSA2LjkwOTIzIDEzLjA2MjNDNy4xMDk0MSAxNC4wNjkgNy42MDM2NSAxNC45OTM4IDguMzI5NDMgMTUuNzE5N0M5LjA1NTIyIDE2LjQ0NTYgOS45Nzk5NSAxNi45Mzk5IDEwLjk4NjcgMTcuMTQwMkMxMS45OTM0IDE3LjM0MDUgMTMuMDM2OSAxNy4yMzc3IDEzLjk4NTMgMTYuODQ1QzE0LjkzMzYgMTYuNDUyMiAxNS43NDQyIDE1Ljc4NyAxNi4zMTQ1IDE0LjkzMzVDMTYuODg0OCAxNC4wOCAxNy4xODkyIDEzLjA3NjYgMTcuMTg5MiAxMi4wNTAyQzE3LjE4OTIgMTEuMzY4NiAxNy4wNTUxIDEwLjY5MzggMTYuNzk0MyAxMC4wNjQxQzE2LjUzMzYgOS40MzQ0OSAxNi4xNTEzIDguODYyMzcgMTUuNjY5NSA4LjM4MDQ0QzE1LjE4NzYgNy44OTg1MiAxNC42MTU1IDcuNTE2MjMgMTMuOTg1OSA3LjI1NTQxQzEzLjM1NjMgNi45OTQ1OSAxMi42ODE0IDYuODYwMzUgMTEuOTk5OSA2Ljg2MDM1Wk0xMS45OTk5IDE1LjQxMzdDMTEuMzM0NiAxNS40MTM2IDEwLjY4NDIgMTUuMjE2MiAxMC4xMzEgMTQuODQ2NUM5LjU3NzgzIDE0LjQ3NjcgOS4xNDY3MyAxMy45NTEyIDguODkyMiAxMy4zMzY1QzguNjM3NjggMTIuNzIxNyA4LjU3MTE3IDEyLjA0NTMgOC43MDEwOSAxMS4zOTI3QzguODMxIDEwLjc0MDIgOS4xNTE1MSAxMC4xNDA4IDkuNjIyMDcgOS42NzAzOEMxMC4wOTI2IDkuMTk5OTcgMTAuNjkyMSA4Ljg3OTY3IDExLjM0NDcgOC43NDk5N0MxMS45OTczIDguNjIwMjcgMTIuNjczNyA4LjY4NzAxIDEzLjI4ODQgOC45NDE3M0MxMy45MDMxIDkuMTk2NDYgMTQuNDI4NCA5LjYyNzc0IDE0Ljc5OCAxMC4xODFDMTUuMTY3NiAxMC43MzQzIDE1LjM2NDggMTEuMzg0OCAxNS4zNjQ2IDEyLjA1MDJDMTUuMzY0NiAxMi40OTIgMTUuMjc3NiAxMi45Mjk0IDE1LjEwODUgMTMuMzM3NkMxNC45Mzk0IDEzLjc0NTggMTQuNjkxNSAxNC4xMTY2IDE0LjM3OTEgMTQuNDI5QzE0LjA2NjYgMTQuNzQxMyAxMy42OTU3IDE0Ljk4OTEgMTMuMjg3NSAxNS4xNThDMTIuODc5MiAxNS4zMjcgMTIuNDQxNyAxNS40MTM5IDExLjk5OTkgMTUuNDEzN1oiIGZpbGw9IndoaXRlIi8+PHBhdGggZD0iTTE3LjM2MjIgNy44NzE5MUMxOC4wMjk5IDcuODcxOTEgMTguNTcxMSA3LjMzMDY3IDE4LjU3MTEgNi42NjMwMUMxOC41NzExIDUuOTk1MzUgMTguMDI5OSA1LjQ1NDEgMTcuMzYyMiA1LjQ1NDFDMTYuNjk0NiA1LjQ1NDEgMTYuMTUzMyA1Ljk5NTM1IDE2LjE1MzMgNi42NjMwMUMxNi4xNTMzIDcuMzMwNjcgMTYuNjk0NiA3Ljg3MTkxIDE3LjM2MjIgNy44NzE5MVoiIGZpbGw9IndoaXRlIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDBfMjA4NjNfMTA2ODI2Ij48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyIDIpIi8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+) no-repeat center / contain;
}
.p-icon-twitter {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMi41NDYyMyAzTDkuODgxOTEgMTIuOTI4TDIuNSAyMUg0LjE2MTVMMTAuNjI0NSAxMy45MzI3TDE1Ljg0NjIgMjFIMjEuNUwxMy43NTE0IDEwLjUxMzZMMjAuNjIyNSAzSDE4Ljk2MUwxMy4wMDkxIDkuNTA4NjNMOC4yIDNIMi41NDYyM1pNNC45ODk1NSA0LjIzODY2SDcuNTg2ODZMMTkuMDU2NCAxOS43NjEzSDE2LjQ1OTFMNC45ODk1NSA0LjIzODY2WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=) no-repeat center / contain;
}
.p-icon-facebook {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTUuOTg2NiAySDEyLjkzQzExLjExNiAyIDkuMDk4NDUgMi43NTc4OSA5LjA5ODQ1IDUuMzY5OTVDOS4xMDczMSA2LjI4MDA5IDkuMDk4NDUgNy4xNTE3NCA5LjA5ODQ1IDguMTMyNzJIN1YxMS40NUg5LjE2MzM5VjIxSDEzLjEzODdWMTEuMzg3SDE1Ljc2MjZMMTYgOC4xMjM0MUgxMy4wNzAyQzEzLjA3MDIgOC4xMjM0MSAxMy4wNzY4IDYuNjcxNjMgMTMuMDcwMiA2LjI1MDAzQzEzLjA3MDIgNS4yMTc4IDE0LjE1MTQgNS4yNzY5MSAxNC4yMTY0IDUuMjc2OTFDMTQuNzMwOSA1LjI3NjkxIDE1LjczMTMgNS4yNzg0IDE1Ljk4ODEgNS4yNzY5MVYySDE1Ljk4NjZaIiBmaWxsPSJ3aGl0ZSIvPjwvc3ZnPg==) no-repeat center / contain;
}