.p-slider-help-item {
  max-width: 280px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;

    &-img {
      position: relative;
      width: 100%;
      height: 192px;

      & img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }
}