.feedback-form {
  background: #FFF;
  min-width: 648px;
  width: 100%;
  padding: 48px 48px 32px;

  @media screen and ($media_mobile) {
    min-width: auto;
    padding: 24px;
  }

  &__title {
    font-size: 34px;
    line-height: initial;
    color: #000000;
    font-weight: 900;
    font-family: "Merriweather", sans-serif;
    letter-spacing: .03rem;

    @media screen and ($media_mobile) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 25px;
    color: #697b83;
    font-weight: 400;
    font-family: "Merriweather", sans-serif;
    margin-top: 20px;

    @media screen and ($media_mobile) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__action {
    margin-top: 24px;
  }

  &__container {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__date-button {
    background: #cc171e;
    width: 100%;
    height: 48px;

    &:hover {
      background: #990b10;
    }
  }

  .input {
    &__label {
      color: #000000;
    }
  }

  .textarea {
    &__label {
      color: #000000;
    }
  }

  .select-menu {
    &__label {
      color: #000000;
    }
  }
}

.feedback-form-component {
  .modal__close {
    left: calc(100% + 20px);

    @media screen and ($media_mobile) {
      left: initial;
      right: 0;
    }
  }
}