@import "pSliderHelpItem";
.p-slider-help {
  position: relative;
  background:rgb(242,242,242);

  &::before {
    position: absolute;
    left: 0;
    top: -64px;
    height: 65px;
    width: 100%;
    background:rgb(242,242,242);
    z-index: 3;
    clip-path: polygon(0 0, 100% 100%,0 100%);
    content: '';
  }

  &__container {
    padding: 24px 0 40px 170px;

    @media (max-width: 768px) {
      padding: 24px 20px 40px;
    }


  }

  &__slider {
    margin-top: 24px;
    .swiper-slide {
      max-width: 380px;

      @media (max-width: 480px) {
        max-width: 280px;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 8px;

    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 18px;
    }

    h3 {
      color: rgb(208,41,50);
    }
    span {
      color: #000000;
    }
  }
}