.p-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 24px;
    margin: auto;
    background: #f0f0f0;
  }
  &__wrapper {
    width: 100%;
  }
  &__close {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgb(204,23,30);
    cursor: pointer;
    z-index: 5;
    &::before {
      position: absolute;
      width: 24px;
      height: 24px;
      content: "";
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4LjcwNyA2LjcwN2ExIDEgMCAwMC0xLjQxNC0xLjQxNEwxMiAxMC41ODYgNi43MDcgNS4yOTNhMSAxIDAgMDAtMS40MTQgMS40MTRMMTAuNTg2IDEybC01LjI5MyA1LjI5M2ExIDEgMCAxMDEuNDE0IDEuNDE0TDEyIDEzLjQxNGw1LjI5MyA1LjI5M2ExIDEgMCAwMDEuNDE0LTEuNDE0TDEzLjQxNCAxMmw1LjI5My01LjI5M3oiIGZpbGw9IiM5OTlEQzIiLz48L3N2Zz4=) no-repeat 50%/contain;
      filter: invert(93%) sepia(94%) saturate(0) hue-rotate(248deg) brightness(199%) contrast(106%);
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}