@import "lib/news-item/NewsItem";

.home-news {
  background: $red-second;
  width: 100%;
  height: 100%;
  padding: 9px 0 144px;
  overflow: hidden;
  z-index: 2;

  @media screen and ($media_mobile) {
    padding: 9px 0 84px;
  }

  &__title {
    font-size: 35px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Merriweather", sans-serif;

    @media screen and ($media_mobile) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__slider {
    margin: 45px auto 0;

    @media screen and ($media_mobile) {
      margin: 25px auto 0;
    }

    &-container {
      > div {
        gap: 16px;
      }
    }
  }
}